<!DOCTYPE html>

{% load static %}


<html>

	<head>
		<title>TITLE</title>
		<link rel="stylesheet" href="{% static "css/gray_simple.css" %}" /> 
		
	</head>

	<body>

		<center><font size=6px> {{ title }} </font></center>
		<p> {{ paragraph }}</p><br />
		<a href="/bushstats/stats/">Stats</a><br />
		<div class="darken pic">
			<a href = "/bushstats/stats/"><img src="{%static "OD.jpg" %}" alt="OD" /></a>
			<span class="imgDescription"><span><font size=5px>Stats</font></span></span>
		</div>
	</body>

<!---
<head>


        <link href="templatemo_400_polygon/css/bootstrap.min.css" rel="stylesheet">
        <link href="templatemo_400_polygon/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="templatemo_400_polygon/css/templatemo_misc.css">
        <link href="templatemo_400_polygon/css/templatemo_style.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
	<link href="templatemo_400_polygon/css/mystyle.css" rel="stylesheet">
	<script src = "templatemo_400_polygon/js/myscript.js"></script>
        </head>




        <body>
<br><br><br><br>
<center><font size=6px>Welcome to Bushleague</font></center>

 <div class=templatemo_footer>

        <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 templatemo_rfooter">
                  <a href="#">
                        <div class="hex_footer">
                                        <span class="fa fa-facebook"></span>
                                        </div>
                  </a>
                  <a href="#">
                    <div class="hex_footer">
                                         <span class="fa fa-twitter"></span>
                                        </div>
                    </a>
                  <a href="#">
                        <div class="hex_footer">
                                         <span class="fa fa-linkedin"></span>
                                        </div>
                 </a>
                <a href="#">
                        <div class="hex_footer">
                                         <span class="fa fa-rss"></span>
                                        </div>
                </a>
            </div>
        </div>
        </div>

    </div>


<div class="darken pic">
<a href ='http://bushleague.x64.me/cgi-bin/joeysprogram.cgi'><img src="http://bushleague.x64.me/images/slark.jpg" alt="slark"></a>
<span class="imgDescription"><span><font size=5px>News</font></span></span>
</div>
<br><br><br>
<div class="darken pic">
<a href='http://bushleague.x64.me/cgi-bin/stats.py'><img src="http://bushleague.x64.me/images/lina.jpg"></a>
<span class="imgDescription"><span><font size=5px>Stats</font></span></span>
</div>
<br><br><br>
<div class="darken pic">
<a href='whojustplayed.html'><img src="http://bushleague.x64.me/images/OD.jpg"></a>
<span class="imgDescription"><span><font size=5px>New Game</font></span></span>
</div>


<br>
<a href="http://bushleague.x64.me/templatemo_400_polygon/index.html">Hexon CSS ressrouce</a>
<br><br>
-->

</html>
