<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} Profiler {% endblock %}</title>
	</head>
	<body>
	<div>
		{% block body_block %}Default Content{% endblock %}
	</div>
	<hr />

	<div>
		<ul>
		{% if user.is_authenticated %}
			<img src = "{{ user.userprofile.picture.url }}" alt="profile pic">
			username: {{ user.username }}<br>
			website: {{ user.userprofile.website }} <!-- WTF -->
			<li><a href="/firstapp/logout/">Logout</a></li>
		{% else %}
			<li><a href="/firstapp/login/">Login</a></li>
			<li><a href="/firstapp/register/">Register</a></li>
		{% endif %}
		</ul>
	</div>
	</body>
</html>
